@media (max-width:768px){
    .container img{
    display: none;
    
    line-height: 30px;}
    .container{
        padding-top: 20px;
    }
    .table{
        max-width: 90%;
        flex-wrap: wrap;
        width: 100vh;
        line-height: 40px;
        margin: 0 auto;
    }
    .header{
        height: 150px;
    }
    .cabeca{
        flex-direction: column;
    }
   
    
   
}